div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 "Welcome to the big mama cookbook!"
    p.lead Kick-start your next web app with Angular Fullstack

.container
  .row
    .col-lg-12
      h3.page-header Recipes
      recipe-table

ms-footer
