.container
  div(growl)
  h1 {{title}}
  .row
    .col-lg-9.center
      form.form-horizontal.recipe-form
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 Name
          .col-xs-6
            input.form-control(type='text', placeholder='name', ng-model='recipe.name', required)
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 Title
          .col-xs-6
            input.form-control(type='text', placeholder='title', ng-model='recipe.title', required)
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 Description
          .col-xs-6
            textarea.form-control(placeholder='description', rows=8, cols=50, ng-model='recipe.description')
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 People
          .col-xs-2
            input.form-control(type='number', placeholder='people', min=1, max=8, ng-model='recipe.people', required)
          label.control-label.col-xs-2 Minutes
          .col-xs-2
            input.form-control(type='number', min=0, ng-model='recipe.minutes', required)
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 Type
          .col-xs-6
            select.form-control(ng-model='recipe.type', ng-options='type for type in types', required)
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 Ingredients
          .col-xs-5
            .input-group
              input.form-control(type='text', placeholder='name', ng-model='ingredient.name')
              span.input-group-btn.doubled-input-group
                input.form-control(type='text', placeholder='quantity', ng-model='ingredient.qta')
                button.btn.btn-info(type='button', ng-click='addIngredient()', ng-disabled='!ingredient.name || !ingredient.qta') Add
            ul.list-group
              li.list-group-item.clearfix(ng-repeat='i in recipe.ingredients') {{i.name}}
                span
                  em &nbsp; - ({{i.qta}})
                span.pull-right
                  button.btn.btn-xs.btn-danger(type='button', ng-click='removeIngredient(i)')
                    span.glyphicon.glyphicon-trash
        .form-group
          label.control-label.col-xs-2.col-xs-offset-1 Difficulty
          .col-xs-2
            select.form-control(ng-model='recipe.difficulty', ng-options='diff for diff in difficulty', required)
          label.control-label.col-xs-2 Price
          .col-xs-2
            select.form-control(ng-model='recipe.price', ng-options='price for price in prices', required)
        .form-group(ng-hide='edit')
          .col-xs-9
            button.btn.btn-primary.pull-right(type='submit', ng-click='addRecipe()', style="") Add recipe
        .form-group(ng-hide='!edit')
          .col-xs-9
            button.btn.btn-primary.pull-right(type='submit', ng-click='updateRecipe()', style="") Update recipe
