.container
  div(growl)
  table.table.table-striped.table-responsive
    thead
      tr
        th Name
        th Type
        th Minutes
        th People
        th(colspan='2') Actions
    tbody
      tr(ng-repeat='r in recipeCollection')
        td {{r.name}}
        td {{r.type}}
        td {{r.minutes}}
        td {{r.people}}
        td
          a.btn.btn-sm.btn-info(type='button', ui-sref="edit({id:r._id})")
            i.glyphicon.glyphicon-pencil
        td
          button.btn.btn-sm.btn-danger(type='button', ng-click='deleteRecipe(r)')
            i.glyphicon.glyphicon-remove-circle
