div(ng-include='"components/navbar/navbar.html"')

.col-md-12
  h3.modal-title You are creating a new recipe
  recipe-form


footer.footer
.container
  p
    | Scaffolded with Angular Fullstack v2.0.13
  = ' | '
    a(href='https://twitter.com/___Sarto') @___Sarto
  = ' | '
    a(href='https://github.com/m00s/MS-MealPlanner/issues') Issues
