div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
      recipe-form(title='You are creating a new recipe')

footer.footer
  .container
    p
      | Scaffolded with Angular Fullstack v2.0.13
  = ' | '
    a(href='https://twitter.com/___Sarto') @___Sarto
  = ' | '
    a(href='https://github.com/m00s/MS-MealPlanner/issues') Issues
